.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.features {
  display: flex;
  flex-wrap: wrap;
}
.features__item {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features__fond {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: $secondary-background-color;
  margin-bottom: 30px;
}
.features__icon {
  display: block;
}
.features__tittle {
  margin-top: 0;
  margin-bottom: 10px;

  color: $tittle-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features__text {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
